@tailwind base;
@tailwind components;
@tailwind utilities;

.charu{
    border:1px solid black;
}

*{
  padding:0;
  margin:0;
  border:border-box;
}

.scroll::-webkit-scrollbar { /* WebKit browsers (Chrome, Safari, etc.) */
    display: none;
  }

.price-container div{
   font-size: 20px;
  color:#374151;
  display:flex;
  gap:10px;
}

.price-container-menu div{
  font-size: 20px;
  color:white;
  display:flex;
  gap:10px;
}
.price-container div div{
  width:auto;
  display:flex;
  align-items: center;
}

.error-message{
  color:red
}


@media (min-width:0px) and (max-width:480px) {
    .flexRow{
      width:100%;
      display:flex;
      justify-content: center;
      align-items: center;
      gap:30px;
    }
}